In [0]:
!conda install -c conda-forge folium=0.5.0 --yes

/bin/bash: conda: command not found

In [21]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [0]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [0]:

import requests
from bs4 import BeautifulSoup
import pandas as pd

# Use SHIFT+TAB keys to popup inplace code help
%config IPCompleter.greedy = True

# Output multiple statements from one input cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [0]:
table_from_top = 1
wikipedia_page = 'List_of_postal_codes_of_Canada:_M'
trace = False

In [0]:
wikipedia_url = 'https://en.wikipedia.org/wiki/{}'.format(wikipedia_page)
page = requests.get(wikipedia_url)
soup = BeautifulSoup(page.content, 'lxml')
tables = soup.find_all('table', {'class': 'wikitable'})
table = tables[table_from_top - 1]

In [4]:
feature_names = []

header_row = table.find('tr')
for header in header_row.find_all('th'):
    feature_name = ' '.join(header.find_all(text=True))
    feature_name.replace('\n', '')
    feature_names.append(feature_name)

'Postcode'

'Borough'

'Neighbourhood'

In [0]:
def has_coords(tag):
    if tag.has_attr('class'):
        if tag['class'][0] == 'latitude' or tag['class'][0] == 'longitude':
            return True
    return False

def get_coords(child):
    coords = []
    for coord in child.find_all(has_coords):
        coords.append(coord.string)
    if coords:
        if trace:
            return 'C = {}'.format(' '.join(coords))
        else:
            return ' '.join(coords)
    else:
        return ''

samples = []
sample_rows = table.find_all('tr')[1:]
for sample_row in sample_rows:
    features = []
    for feature_col in sample_row.find_all('td'):
        feature_value = ''
        text = feature_col.string
        if text:
            if trace:
                features.append('T = {}'.format(text))
            else:
                features.append(text)
            continue
        
        for child in feature_col.children:
            if child.name == 'span':
                if child.has_attr('class'):
                    if child['class'] == 'display:none':
                        continue
                if child.find_all(has_coords):
                    feature_value = get_coords(child)
                    if feature_value:
                        break
                    else:
                        continue
            if child.name == 'sup':
                continue
            if child.name == 'a':
                if child.string[0] == '[':
                    continue            
            if child.name == 'a':
                if trace:
                    feature_value = 'A = {}'.format(child.string)
                else:
                    feature_value = child.string
                break
            if child.name == 'font':
                if trace:
                    feature_value = 'F = {}'.format(child.string)
                else:
                    feature_value = child.string
                break
            try:
                # feature_value = '' for any tags not covered above
                content = child.contents
            except AttributeError:
                # Handle whitespace between child tags, treated as a child string
                if child.isspace():
                    continue
                if trace:
                    feature_value = 'E = {}'.format(child)
                else:
                    feature_value = child
                break
        features.append(feature_value)
    samples.append(dict(zip(feature_names, features)))

In [7]:
# The first dataframe

df = pd.DataFrame(samples).dropna()
df = df[df.Borough != "Not assigned"]
df = df[df.columns[[2, 0, 1]]]
df = df.reset_index(drop = True)
df.head(7)

  Postcode           Borough   Neighbourhood\n
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park     Not assigned

In [8]:
# Dataframe after replace: Not assigned at Neighbourhood columns by "Queen's Park"
df.iloc[6, 2]= "Queen's Park"
df.head(7)

  Postcode           Borough   Neighbourhood\n
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Queen's Park

In [9]:
# Dataframe after groupby two columns: Borough and Postcode whith commma at Neighbourhood column

df = df.groupby (["Postcode", "Borough"], as_index = False).agg(','.join)

df.head()

  Postcode      Borough                       Neighbourhood\n
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough     Guildwood\n,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                           Cedarbrae\n

# Explore and cluster the neighborhoods in Toronto

In [12]:
# Final Dataframe after: 1. Ignore cells with a borough that is Not assigned; 
#                        2. Groupby two columns: Borough and Postcode whith commma at Neighbourhood column
#                        3. Borough but a Not assigned neighborhood will be the same as the borough


df.head(20)

   Postcode      Borough                                    Neighbourhood\n
0       M1B  Scarborough                                      Rouge,Malvern
1       M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2       M1E  Scarborough                  Guildwood\n,Morningside,West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                        Cedarbrae\n
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park\n,Ionview,Kennedy Park
7       M1L  Scarborough                      Clairlea,Golden Mile,Oakridge
8       M1M  Scarborough    Cliffcrest,Cliffside,Scarborough Village West\n
9       M1N  Scarborough                       Birch Cliff,Cliffside West\n
10      M1P  Scarborough  Dorset Park,Scarborough Town Centre,Wexford He...
11      M1R  Scarborough                                   Maryvale,Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough          Clarks Corners\n,Sullivan\n,Tam O'Shanter
14      M1V  Scarborough  Agincourt North,L'Amoreaux East\n,Milliken,Ste...
15      M1W  Scarborough                                  L'Amoreaux West\n
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                     Fairview\n,Henry Farm,Oriole\n
19      M2K   North York                                    Bayview Village

In [11]:
df.shape

(103, 3)

In [14]:
from google.colab import files
uploaded = files.upload()

Saving Geospatial_Coordinates.csv to Geospatial_Coordinates.csv

In [0]:
df_geo = pd.read_csv ("Geospatial_Coordinates.csv")

In [16]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [0]:
df_geo.shape

In [0]:
df = df.rename(columns = {'Postcode' : 'Postal code'})

In [18]:
df_postal_geo = df.combine_first (df_geo)
df_postal_geo = df_postal_geo[df_postal_geo.columns[[4, 0, 3, 1, 2]]]
df_postal_geo
df_postal_geo.shape

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood\n,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae\n,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park\n,Ionview,Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea,Golden Mile,Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest,Cliffside,Scarborough Village West\n",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff,Cliffside West\n",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park,Scarborough Town Centre,Wexford He...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale,Wexford",43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners\n,Sullivan\n,Tam O'Shanter",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North,L'Amoreaux East\n,Milliken,Ste...",43.815252,-79.284577
15,M1W,Scarborough,L'Amoreaux West\n,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,"Fairview\n,Henry Farm,Oriole\n",43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,"Silver Hills\n,York Mills",43.757490,-79.374714
21,M2M,North York,"Newtonbrook,Willowdale",43.789053,-79.408493
22,M2N,North York,Willowdale South\n,43.770120,-79.408493
23,M2P,North York,York Mills West\n,43.752758,-79.400049
24,M2R,North York,Willowdale West,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills North\n,43.745906,-79.352188
27,M3C,North York,"Flemingdon Park,Don Mills South\n",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor,Downsview North\n,Wilson Heights",43.754328,-79.442259
29,M3J,North York,"Northwood Park,York University",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
74,M6E,York,Caledonia-Fairbanks\n,43.689026,-79.453512
75,M6G,Downtown Toronto,Christie\n,43.669542,-79.422564
76,M6H,West Toronto,"Dovercourt Village,Dufferin\n",43.669005,-79.442259
77,M6J,West Toronto,"Little Portugal,Trinity",43.647927,-79.419750
78,M6K,West Toronto,"Brockton\n,Exhibition Place,Parkdale Village",43.636847,-79.428191
79,M6L,North York,"Downsview,North Park\n,Upwood Park\n",43.713756,-79.490074
80,M6M,York,"Del Ray\n,Keelesdale,Mount Dennis,Silverthorn",43.691116,-79.476013
81,M6N,York,"The Junction North\n,Runnymede\n",43.673185,-79.487262
82,M6P,West Toronto,"High Park,The Junction South\n",43.661608,-79.464763
83,M6R,West Toronto,"Parkdale,Roncesvalles",43.648960,-79.456325
84,M6S,West Toronto,"Runnymede,Swansea",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Canada Post Gateway Processing Centre\n,43.636966,-79.615819
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 East...,43.662744,-79.321558
88,M8V,Etobicoke,"Humber Bay Shores\n,Mimico South\n,New Toronto",43.605647,-79.501321
89,M8W,Etobicoke,"Alderwood,Long Branch",43.602414,-79.543484
90,M8X,Etobicoke,"The Kingsway,Montgomery Road\n,Old Mill North\n",43.653654,-79.506944
91,M8Y,Etobicoke,"Humber Bay,King's Mill Park\n,Kingsway Park So...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West\n,Mimico NW,The Queen...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale\n,Islington,Martin Grove\n,Princess...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens\n,Eringate\n,Markland Wood,O...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery,Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount\n,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens\n,Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens\n,Beaumond Heights,Humbergate\n...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest\n,43.706748,-79.594054

(103, 5)